In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [5]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
movies.merge(credits,on='title').shape

(4809, 23)

In [11]:
movies.shape

(4803, 20)

In [13]:
credits.shape

(4803, 4)

In [15]:
movies_c = movies.merge(credits,on='title')

In [17]:
movies_c.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [19]:
movies_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [21]:
#genres
#movies_id
#cast
#crew
#keywords
#title
#overview
movies = movies_c[['movie_id','title','overview','genres','cast','crew','keywords']]

In [23]:
movies.head()

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."

In [29]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
cast        0
crew        0
keywords    0
dtype: int64

In [31]:
movies = movies.copy()
movies.dropna(inplace=True)

In [33]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [35]:
movies.duplicated().sum()

0

In [37]:
import ast

In [39]:
def convert (obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [41]:
movies['genres'] = movies['genres'].apply(convert)

In [43]:
movies['keywords'] = movies['keywords'].apply(convert)

In [45]:
movies.head()

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[based on novel, mars, medallion, space travel..."

In [47]:
def convert2 (obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        
        if counter <3:
            
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [49]:
movies['cast'] = movies['cast'].apply(convert2)

In [50]:
movies.head()

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[based on novel, mars, medallion, space travel..."

In [51]:
def convert3 (obj):
    L = []
    
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            
            L.append(i['name'])
            
            break
    return L

In [52]:
movies['crew'] = movies['crew'].apply(convert3)

In [53]:
movies.head()

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],"[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],"[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],"[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],"[based on novel, mars, medallion, space travel..."

In [57]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [58]:
movies.head()

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],"[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],"[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],"[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],"[based on novel, mars, medallion, space travel..."

In [59]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])

In [65]:
movies.head()

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[cultureclash, future, spacewar, spacecolony, ..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[ocean, drugabuse, exoticisland, eastindiatrad..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[spy, basedonnovel, secretagent, sequel, mi6, ..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[dccomics, crimefighter, terrorist, secretiden..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[basedonnovel, mars, medallion, spacetravel, p..."

In [67]:
movies['tags'] = movies['genres'] + movies['overview'] + movies['crew'] + movies['cast']

In [69]:
movies.head()

,movie_id,title,overview,genres,cast,crew,keywords,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[cultureclash, future, spacewar, spacecolony, ...","[Action, Adventure, Fantasy, ScienceFiction, I..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[ocean, drugabuse, exoticisland, eastindiatrad...","[Adventure, Fantasy, Action, Captain, Barbossa..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[spy, basedonnovel, secretagent, sequel, mi6, ...","[Action, Adventure, Crime, A, cryptic, message..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[dccomics, crimefighter, terrorist, secretiden...","[Action, Crime, Drama, Thriller, Following, th..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[basedonnovel, mars, medallion, spacetravel, p...","[Action, Adventure, ScienceFiction, John, Cart..."

In [71]:
new_df = movies[['movie_id','title','tags']]

In [73]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, I..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, Captain, Barbossa..."
2,206647,Spectre,"[Action, Adventure, Crime, A, cryptic, message..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, Following, th..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, John, Cart..."
...,...,...,...
4804,9367,El Mariachi,"[Action, Crime, Thriller, El, Mariachi, just, ..."
4805,72766,Newlyweds,"[Comedy, Romance, A, newlywed, couple's, honey..."
4806,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TVMovie, ""Signed,, Se..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Documentary, Ever, since, the, second, grade,..."

In [75]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\visha\AppData\Local\Temp\ipykernel_22852\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [77]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,Action Adventure Fantasy ScienceFiction In the...
1,285,Pirates of the Caribbean: At World's End,"Adventure Fantasy Action Captain Barbossa, lon..."
2,206647,Spectre,Action Adventure Crime A cryptic message from ...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller Following the deat...
4,49529,John Carter,Action Adventure ScienceFiction John Carter is...

In [79]:
new_df['tags'][0]

'Action Adventure Fantasy ScienceFiction In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. JamesCameron SamWorthington ZoeSaldana SigourneyWeaver'

In [81]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\visha\AppData\Local\Temp\ipykernel_22852\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [83]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,action adventure fantasy sciencefiction in the...
1,285,Pirates of the Caribbean: At World's End,"adventure fantasy action captain barbossa, lon..."
2,206647,Spectre,action adventure crime a cryptic message from ...
3,49026,The Dark Knight Rises,action crime drama thriller following the deat...
4,49529,John Carter,action adventure sciencefiction john carter is...

In [85]:
import nltk

In [86]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [87]:
def stem(text):
     y = []
     for i in text.split():
         y.append(ps.stem(i))
        
     return " ".join(y)

In [88]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\visha\AppData\Local\Temp\ipykernel_22852\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [89]:
new_df['tags'].apply(stem)

0       action adventur fantasi sciencefict in the 22n...
1       adventur fantasi action captain barbossa, long...
2       action adventur crime a cryptic messag from bo...
3       action crime drama thriller follow the death o...
4       action adventur sciencefict john carter is a w...
                              ...
4804    action crime thriller el mariachi just want to...
4805    comedi romanc a newlyw couple' honeymoon is up...
4806    comedi drama romanc tvmovi "signed, sealed, de...
4807    when ambiti new york attorney sam is sent to s...
4808    documentari ever sinc the second grade when he...
Name: tags, Length: 4806, dtype: object

In [90]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [94]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [95]:
vectors.shape

(4806, 5000)

In [96]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [97]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [98]:
from sklearn.metrics.pairwise import cosine_similarity

In [99]:
similarity = cosine_similarity(vectors)

In [100]:
similarity[0]

array([1.        , 0.13957263, 0.08206099, ..., 0.        , 0.        ,
       0.        ])

In [101]:
sorted(list(enumerate(similarity[0])),reverse= True,key= lambda x:x[1])

[(0, 0.9999999999999998),
 (2997, 0.25854384499750954),
 (4405, 0.24618298195866548),
 (61, 0.23262105259961768),
 (1440, 0.2279211529192759),
 (942, 0.22498852128662875),
 (3606, 0.22247460415730486),
 (1192, 0.22227711223719354),
 (1214, 0.22019275302527208),
 (2782, 0.22019275302527208),
 (529, 0.217689644749893),
 (138, 0.2175970699446223),
 (72, 0.21320071635561044),
 (972, 0.21320071635561044),
 (2071, 0.21320071635561044),
 (31, 0.21320071635561041),
 (94, 0.21320071635561041),
 (2405, 0.21320071635561041),
 (4348, 0.21320071635561041),
 (4008, 0.20683507599800763),
 (778, 0.20515248496555452),
 (973, 0.20515248496555452),
 (3997, 0.20515248496555452),
 (4046, 0.2038588765750502),
 (172, 0.20100756305184242),
 (507, 0.19507682662870648),
 (1202, 0.19462473604038072),
 (3728, 0.19284730395996746),
 (322, 0.19069251784911845),
 (495, 0.19069251784911845),
 (2969, 0.18953562637585883),
 (14, 0.18844459036110223),
 (68, 0.18609684207969415),
 (122, 0.18609684207969415),
 (483, 0.18609684207969415),
 (36, 0.18556740475630137),
 (1342, 0.18556740475630137),
 (2368, 0.18556740475630137),
 (2670, 0.1846372364689991),
 (91, 0.18281810603178264),
 (859, 0.18281810603178264),
 (3671, 0.18281810603178264),
 (127, 0.1823262913747181),
 (275, 0.1818181818181818),
 (668, 0.1818181818181818),
 (187, 0.18018749253911176),
 (232, 0.17782168978975482),
 (449, 0.17782168978975482),
 (539, 0.17782168978975482),
 (568, 0.17782168978975482),
 (7, 0.17766726362967533),
 (168, 0.17766726362967533),
 (870, 0.17766726362967533),
 (151, 0.17739371879672478),
 (200, 0.17739371879672478),
 (208, 0.17739371879672478),
 (3081, 0.17739371879672478),
 (931, 0.17407765595569785),
 (1612, 0.17407765595569785),
 (1654, 0.17407765595569785),
 (262, 0.17292861596651865),
 (256, 0.1709408646894569),
 (139, 0.1706971854997297),
 (46, 0.17056057308448835),
 (577, 0.17056057308448835),
 (3150, 0.17056057308448835),
 (27, 0.16796775328675623),
 (2129, 0.16648178955300671),
 (2329, 0.16648178955300671),
 (1199, 0.16514456476895406),
 (2641, 0.16514456476895406),
 (3779, 0.16514456476895406),
 (1002, 0.16412198797244362),
 (2737, 0.16412198797244362),
 (3338, 0.16412198797244362),
 (2144, 0.16116459280507603),
 (3496, 0.16116459280507603),
 (3620, 0.16116459280507603),
 (35, 0.1599005372667078),
 (134, 0.1599005372667078),
 (233, 0.1599005372667078),
 (1484, 0.1599005372667078),
 (3719, 0.1599005372667078),
 (4016, 0.1599005372667078),
 (654, 0.15891043154093204),
 (174, 0.15836151649297914),
 (581, 0.15836151649297914),
 (777, 0.15717365336548286),
 (1087, 0.15627967832118694),
 (26, 0.15569978883230456),
 (111, 0.15569978883230456),
 (121, 0.15569978883230456),
 (300, 0.15569978883230456),
 (2165, 0.15569978883230456),
 (420, 0.1554926033927807),
 (33, 0.15512630699850571),
 (505, 0.15512630699850571),
 (627, 0.15512630699850571),
 (935, 0.15512630699850571),
 (2580, 0.15512630699850571),
 (3619, 0.15512630699850571),
 (149, 0.15386436372416593),
 (311, 0.1531679162134967),
 (678, 0.1531679162134967),
 (937, 0.1531679162134967),
 (150, 0.15289415743128765),
 (467, 0.15228622596829314),
 (1392, 0.15228622596829314),
 (28, 0.15075567228888181),
 (342, 0.15075567228888181),
 (490, 0.15075567228888181),
 (1520, 0.15075567228888181),
 (2157, 0.15075567228888181),
 (3352, 0.15075567228888181),
 (4190, 0.15075567228888181),
 (4673, 0.15075567228888181),
 (166, 0.1507556722888818),
 (582, 0.1507556722888818),
 (1035, 0.1507556722888818),
 (1526, 0.1507556722888818),
 (1916, 0.1507556722888818),
 (2200, 0.1507556722888818),
 (3632, 0.1507556722888818),
 (369, 0.1484539238050411),
 (12, 0.14673479641335552),
 (98, 0.14673479641335552),
 (260, 0.14673479641335552),
 (330, 0.14673479641335552),
 (466, 0.14673479641335552),
 (487, 0.14673479641335552),
 (1107, 0.14673479641335552),
 (1369, 0.14673479641335552),
 (3053, 0.14673479641335552),
 (126, 0.1462544848254261),
 (472, 0.1462544848254261),
 (813, 0.1462544848254261),
 (1295, 0.1462544848254261),
 (1827, 0.1462544848254261),
 (1978, 0.1462544848254261),
 (2446, 0.1462544848254261),
 (3426, 0.1462544848254261),
 (83, 0.14506471329641485),
 (508, 0.14414999403128942),
 (1235, 0.14414999403128942),
 (56, 0.14301938838683884),
 (4, 0.14213381090374028),
 (513, 0.14213381090374028),
 (786, 0.14213381090374028),
 (1193, 0.14213381090374028),
 (1297, 0.14213381090374028),
 (1804, 0.14213381090374028),
 (9, 0.14019992744655632),
 (10, 0.14019992744655632),
 (43, 0.14019992744655632),
 (199, 0.14019992744655632),
 (587, 0.14019992744655632),
 (618, 0.14019992744655632),
 (47, 0.13997312773896353),
 (1, 0.13957263155977062),
 (263, 0.13957263155977062),
 (319, 0.13957263155977062),
 (511, 0.13957263155977062),
 (781, 0.13957263155977062),
 (1075, 0.13957263155977062),
 (1078, 0.13957263155977062),
 (1829, 0.13957263155977062),
 (1938, 0.13957263155977062),
 (1771, 0.13878184541334224),
 (2756, 0.13878184541334224),
 (5, 0.13834289277321493),
 (131, 0.13834289277321493),
 (1397, 0.13834289277321493),
 (3441, 0.13834289277321493),
 (74, 0.13655774839978377),
 (1934, 0.13655774839978377),
 (102, 0.1364877726081535),
 (715, 0.13636363636363635),
 (978, 0.13636363636363635),
 (1327, 0.13636363636363635),
 (1880, 0.13636363636363635),
 (2374, 0.13636363636363635),
 (2392, 0.13636363636363635),
 (2679, 0.13636363636363635),
 (4403, 0.13636363636363635),
 (41, 0.1348399724926484),
 (602, 0.1348399724926484),
 (986, 0.1348399724926484),
 (2068, 0.1348399724926484),
 (2682, 0.1348399724926484),
 (23, 0.1333662673423161),
 (148, 0.1333662673423161),
 (349, 0.1333662673423161),
 (476, 0.1333662673423161),
 (1752, 0.1333662673423161),
 (2319, 0.1333662673423161),
 (2647, 0.1333662673423161),
 (3980, 0.1333662673423161),
 (1961, 0.1332504477222565),
 (234, 0.13318543164240537),
 (1902, 0.13318543164240537),
 (312, 0.1315903389919538),
 (589, 0.1315903389919538),
 (1688, 0.1315903389919538),
 (206, 0.13121597027036946),
 (230, 0.13121597027036946),
 (329, 0.1305582419667734),
 (1080, 0.1305582419667734),
 (1156, 0.1305582419667734),
 (1272, 0.1305582419667734),
 (1278, 0.1305582419667734),
 (182, 0.130051217752471),
 (1231, 0.130051217752471),
 (1533, 0.130051217752471),
 (2816, 0.130051217752471),
 (62, 0.12856486930664499),
 (1274, 0.12856486930664499),
 (1451, 0.12856486930664499),
 (1660, 0.12856486930664499),
 (2441, 0.12856486930664499),
 (4502, 0.12856486930664499),
 (95, 0.12792042981336627),
 (123, 0.12792042981336627),
 (292, 0.12792042981336627),
 (400, 0.12792042981336627),
 (634, 0.12792042981336627),
 (773, 0.12792042981336627),
 (899, 0.12792042981336627),
 (1069, 0.12792042981336627),
 (1084, 0.12792042981336627),
 (1140, 0.12792042981336627),
 (1257, 0.12792042981336627),
 (2049, 0.12792042981336627),
 (2813, 0.12792042981336627),
 (11, 0.12712834523274563),
 (158, 0.12712834523274563),
 (228, 0.12712834523274563),
 (596, 0.12712834523274563),
 (1054, 0.12712834523274563),
 (1303, 0.12712834523274563),
 (2105, 0.12712834523274563),
 (3160, 0.12712834523274563),
 (170, 0.1257389226923863),
 (2444, 0.1257389226923863),
 (152, 0.1254363015010636),
 (236, 0.1254363015010636),
 (784, 0.1254363015010636),
 (920, 0.1254363015010636),
 (1045, 0.1254363015010636),
 (1273, 0.1254363015010636),
 (1379, 0.1254363015010636),
 (412, 0.12439408271422457),
 (572, 0.12439408271422457),
 (17, 0.12309149097933274),
 (1492, 0.12309149097933274),
 (1635, 0.12309149097933274),
 (2102, 0.12309149097933274),
 (2646, 0.12309149097933274),
 (3570, 0.12309149097933274),
 (3718, 0.12309149097933274),
 (4641, 0.12309149097933274),
 (203, 0.12309149097933272),
 (219, 0.12309149097933272),
 (1007, 0.12309149097933272),
 (1094, 0.12309149097933272),
 (1684, 0.12309149097933272),
 (2492, 0.12309149097933272),
 (2861, 0.12309149097933272),
 (3253, 0.12309149097933272),
 (4081, 0.12309149097933272),
 (160, 0.1222789970111296),
 (331, 0.12182898077463451),
 (595, 0.12182898077463451),
 (167, 0.12087344460380703),
 (242, 0.12087344460380703),
 (402, 0.12087344460380703),
 (1304, 0.12087344460380703),
 (1585, 0.12087344460380703),
 (2657, 0.12087344460380703),
 (3803, 0.12087344460380703),
 (84, 0.12060453783110543),
 (143, 0.12060453783110543),
 (217, 0.12060453783110543),
 (403, 0.12060453783110543),
 (3405, 0.12060453783110543),
 (229, 0.11993477322022918),
 (286, 0.11941628680530642),
 (838, 0.1194162868053064),
 (1655, 0.1194162868053064),
 (75, 0.11877113736973435),
 (87, 0.11877113736973435),
 (294, 0.11877113736973435),
 (341, 0.11877113736973435),
 (854, 0.11877113736973435),
 (894, 0.11877113736973435),
 (1013, 0.11877113736973435),
 (1111, 0.11877113736973435),
 (2648, 0.11877113736973435),
 (584, 0.11826247919781652),
 (1319, 0.11826247919781652),
 (1406, 0.11826247919781652),
 (1475, 0.11826247919781652),
 (1779, 0.11826247919781652),
 (2327, 0.11826247919781652),
 (2630, 0.11826247919781652),
 (3726, 0.11826247919781652),
 (16, 0.11677484162422842),
 (207, 0.11677484162422842),
 (455, 0.11677484162422842),
 (794, 0.11677484162422842),
 (922, 0.11677484162422842),
 (960, 0.11677484162422842),
 (1515, 0.11677484162422842),
 (1745, 0.11677484162422842),
 (2056, 0.11677484162422842),
 (2159, 0.11677484162422842),
 (2552, 0.11677484162422842),
 (3320, 0.11677484162422842),
 (3353, 0.11677484162422842),
 (1874, 0.11605177063713189),
 (1530, 0.1149919149152138),
 (2494, 0.1149919149152138),
 (101, 0.11487593716012254),
 (315, 0.11487593716012254),
 (332, 0.11487593716012254),
 (745, 0.11487593716012254),
 (1267, 0.11487593716012254),
 (1299, 0.11487593716012254),
 (1697, 0.11487593716012254),
 (2177, 0.11487593716012254),
 (2249, 0.11487593716012254),
 (3006, 0.11487593716012254),
 (373, 0.11396057645963795),
 (381, 0.11396057645963795),
 (422, 0.11396057645963795),
 (2511, 0.11396057645963795),
 (2852, 0.11396057645963795),
 (2888, 0.11396057645963795),
 (3091, 0.11396057645963795),
 (3372, 0.11396057645963795),
 (3460, 0.11396057645963795),
 (40, 0.11306675421666135),
 (50, 0.11306675421666135),
 (52, 0.11306675421666135),
 (108, 0.11306675421666135),
 (215, 0.11306675421666135),
 (241, 0.11306675421666135),
 (1147, 0.11306675421666135),
 (1619, 0.11306675421666135),
 (1941, 0.11306675421666135),
 (2239, 0.11306675421666135),
 (76, 0.11134044285378084),
 (96, 0.11134044285378084),
 (461, 0.11134044285378084),
 (833, 0.11134044285378084),
 (932, 0.11134044285378084),
 (1159, 0.11134044285378084),
 (3924, 0.11134044285378084),
 (4336, 0.11134044285378084),
 (238, 0.11102547633067379),
 (189, 0.11009637651263604),
 (216, 0.11009637651263604),
 (570, 0.11009637651263604),
 (850, 0.11009637651263604),
 (1252, 0.11009637651263604),
 (1617, 0.11009637651263604),
 (2377, 0.11009637651263604),
 (2850, 0.11009637651263604),
 (3830, 0.11009637651263604),
 (3976, 0.11009637651263604),
 (4568, 0.11009637651263604),
 (4737, 0.11009637651263604),
 (39, 0.10969086361906957),
 (67, 0.10969086361906957),
 (175, 0.10969086361906957),
 (235, 0.10969086361906957),
 (278, 0.10969086361906957),
 (413, 0.10969086361906957),
 (1819, 0.10969086361906957),
 (2031, 0.10969086361906957),
 (2124, 0.10969086361906957),
 (4657, 0.10969086361906957),
 (45, 0.10919021808652281),
 (2252, 0.10919021808652281),
 (1493, 0.10830607221477646),
 (1737, 0.10830607221477646),
 (305, 0.10811249552346706),
 (2914, 0.10811249552346706),
 (4626, 0.10811249552346706),
 (3, 0.10744306187005068),
 (38, 0.10660035817780521),
 (105, 0.10660035817780521),
 (164, 0.10660035817780521),
 (184, 0.10660035817780521),
 (243, 0.10660035817780521),
 (270, 0.10660035817780521),
 (271, 0.10660035817780521),
 (624, 0.10660035817780521),
 (695, 0.10660035817780521),
 (808, 0.10660035817780521),
 (1137, 0.10660035817780521),
 (1176, 0.10660035817780521),
 (1321, 0.10660035817780521),
 (1434, 0.10660035817780521),
 (1669, 0.10660035817780521),
 (1992, 0.10660035817780521),
 (2476, 0.10660035817780521),
 (3153, 0.10660035817780521),
 (3525, 0.10660035817780521),
 (3889, 0.10660035817780521),
 (4009, 0.10660035817780521),
 (4483, 0.10660035817780521),
 (4538, 0.10660035817780521),
 (307, 0.10555008273018728),
 (70, 0.10514994558491725),
 (977, 0.10514994558491725),
 (1291, 0.10514994558491725),
 (1628, 0.10514994558491725),
 (1843, 0.10514994558491725),
 (4266, 0.10514994558491725),
 (3872, 0.10514994558491723),
 (1894, 0.10497277621629558),
 (1280, 0.10418645221412463),
 (93, 0.1037571695799112),
 (334, 0.1037571695799112),
 (740, 0.1037571695799112),
 (1610, 0.1037571695799112),
 (1767, 0.1037571695799112),
 (3100, 0.1037571695799112),
 (3753, 0.1037571695799112),
 (3877, 0.1037571695799112),
 (3905, 0.1037571695799112),
 (88, 0.10341753799900381),
 (109, 0.10341753799900381),
 (159, 0.10341753799900381),
 (249, 0.10341753799900381),
 (537, 0.10341753799900381),
 (866, 0.10341753799900381),
 (993, 0.10341753799900381),
 (1074, 0.10341753799900381),
 (1154, 0.10341753799900381),
 (1346, 0.10341753799900381),
 (1497, 0.10341753799900381),
 (2270, 0.10341753799900381),
 (3070, 0.10341753799900381),
 (3714, 0.10341753799900381),
 (4196, 0.10341753799900381),
 (4279, 0.10341753799900381),
 (4351, 0.10341753799900381),
 (1320, 0.10266540046786907),
 (480, 0.10241831129983783),
 (540, 0.10241831129983783),
 (728, 0.10241831129983783),
 (1119, 0.10241831129983783),
 (2827, 0.10241831129983783),
 (3283, 0.10241831129983783),
 (3210, 0.10144749970923665),
 (59, 0.10120907987385148),
 (790, 0.10120907987385148),
 (19, 0.1011299793694863),
 (106, 0.1011299793694863),
 (279, 0.1011299793694863),
 (410, 0.1011299793694863),
 (419, 0.1011299793694863),
 (473, 0.1011299793694863),
 (1028, 0.1011299793694863),
 (1276, 0.1011299793694863),
 (1519, 0.1011299793694863),
 (1613, 0.1011299793694863),
 (2400, 0.1011299793694863),
 (3089, 0.1011299793694863),
 (3933, 0.1011299793694863),
 (157, 0.10050378152592121),
 (626, 0.10050378152592121),
 (744, 0.10050378152592121),
 (987, 0.10050378152592121),
 (1003, 0.10050378152592121),
 (1090, 0.10050378152592121),
 (1145, 0.10050378152592121),
 (1240, 0.10050378152592121),
 (1332, 0.10050378152592121),
 (1723, 0.10050378152592121),
 (2111, 0.10050378152592121),
 (2214, 0.10050378152592121),
 (2266, 0.10050378152592121),
 (2293, 0.10050378152592121),
 (2322, 0.10050378152592121),
 (3101, 0.10050378152592121),
 (3354, 0.10050378152592121),
 (3394, 0.10050378152592121),
 (4472, 0.10050378152592121),
 (4623, 0.10050378152592121),
 (30, 0.09988907373180403),
 (302, 0.09988907373180403),
 (1363, 0.09988907373180403),
 (2592, 0.09988907373180403),
 (2186, 0.09913631941932194),
 (15, 0.09869275424396534),
 (213, 0.09869275424396534),
 (3618, 0.09869275424396534),
 (22, 0.09782319760890368),
 (205, 0.09782319760890368),
 (209, 0.09782319760890368),
 (244, 0.09782319760890368),
 (259, 0.09782319760890368),
 (276, 0.09782319760890368),
 (547, 0.09782319760890368),
 (762, 0.09782319760890368),
 (800, 0.09782319760890368),
 (1071, 0.09782319760890368),
 (1164, 0.09782319760890368),
 (1404, 0.09782319760890368),
 (1703, 0.09782319760890368),
 (1766, 0.09782319760890368),
 (2087, 0.09782319760890368),
 (2246, 0.09782319760890368),
 (2517, 0.09782319760890368),
 (2589, 0.09782319760890368),
 (2768, 0.09782319760890368),
 (3345, 0.09782319760890368),
 (4133, 0.09782319760890368),
 (4271, 0.09782319760890368),
 (4331, 0.09782319760890368),
 (4542, 0.09782319760890368),
 (4566, 0.09782319760890368),
 (4691, 0.09782319760890368),
 (97, 0.09753841331435326),
 (169, 0.09753841331435326),
 (212, 0.09753841331435326),
 (371, 0.09753841331435326),
 (535, 0.09753841331435326),
 (3223, 0.09753841331435326),
 (3307, 0.09642365197998373),
 (3387, 0.09642365197998373),
 (71, 0.09534625892455922),
 (103, 0.09534625892455922),
 (117, 0.09534625892455922),
 (165, 0.09534625892455922),
 (267, 0.09534625892455922),
 (309, 0.09534625892455922),
 (336, 0.09534625892455922),
 (594, 0.09534625892455922),
 (951, 0.09534625892455922),
 (1097, 0.09534625892455922),
 (1325, 0.09534625892455922),
 (1414, 0.09534625892455922),
 (1470, 0.09534625892455922),
 (1571, 0.09534625892455922),
 (1682, 0.09534625892455922),
 (2237, 0.09534625892455922),
 (2391, 0.09534625892455922),
 (2588, 0.09534625892455922),
 (2758, 0.09534625892455922),
 (2968, 0.09534625892455922),
 (3609, 0.09534625892455922),
 (3992, 0.09534625892455922),
 (4163, 0.09534625892455922),
 (4316, 0.09534625892455922),
 (107, 0.09430419201928972),
 (475, 0.09430419201928972),
 (543, 0.09430419201928972),
 (734, 0.09430419201928972),
 (782, 0.09430419201928972),
 (1453, 0.09430419201928972),
 (2260, 0.09430419201928972),
 (3551, 0.09430419201928972),
 (939, 0.0936072754401818),
 (447, 0.09329556203566843),
 (735, 0.09329556203566843),
 (814, 0.09329556203566843),
 (2901, 0.09329556203566843),
 (3586, 0.09329556203566843),
 (4392, 0.09329556203566843),
 (90, 0.09304842103984708),
 (104, 0.09304842103984708),
 (144, 0.09304842103984708),
 (290, 0.09304842103984708),
 (356, 0.09304842103984708),
 (498, 0.09304842103984708),
 (604, 0.09304842103984708),
 (1238, 0.09304842103984708),
 (1345, 0.09304842103984708),
 (1488, 0.09304842103984708),
 (1556, 0.09304842103984708),
 (1699, 0.09304842103984708),
 (1709, 0.09304842103984708),
 (2255, 0.09304842103984708),
 (2350, 0.09304842103984708),
 (2351, 0.09304842103984708),
 (2727, 0.09304842103984708),
 (4097, 0.09304842103984708),
 (4228, 0.09304842103984708),
 (129, 0.09231861823449955),
 (299, 0.09231861823449955),
 (85, 0.09143006417649888),
 (58, 0.09137173558097589),
 (661, 0.09137173558097589),
 (732, 0.09137173558097589),
 (746, 0.09137173558097589),
 (1017, 0.09137173558097589),
 (1085, 0.09137173558097589),
 (1173, 0.09137173558097589),
 (1218, 0.09137173558097589),
 (78, 0.0909090909090909),
 (237, 0.0909090909090909),
 (358, 0.0909090909090909),
 (368, 0.0909090909090909),
 (1290, 0.0909090909090909),
 (1722, 0.0909090909090909),
 (1856, 0.0909090909090909),
 (2171, 0.0909090909090909),
 (2575, 0.0909090909090909),
 (3193, 0.0909090909090909),
 (3659, 0.0909090909090909),
 (3837, 0.0909090909090909),
 (4043, 0.0909090909090909),
 (4355, 0.0909090909090909),
 (363, 0.09045340337332908),
 (600, 0.09045340337332908),
 (995, 0.09045340337332908),
 (1189, 0.09045340337332908),
 (2048, 0.09045340337332908),
 (3879, 0.09045340337332908),
 (4121, 0.09045340337332908),
 (29, 0.0895622151039798),
 (478, 0.0895622151039798),
 (1271, 0.0895622151039798),
 (3388, 0.0895622151039798),
 (615, 0.08891084489487741),
 (660, 0.08891084489487741),
 (1083, 0.08891084489487741),
 (1135, 0.08891084489487741),
 (1287, 0.08891084489487741),
 (1361, 0.08891084489487741),
 (1509, 0.08891084489487741),
 (1717, 0.08891084489487741),
 (2086, 0.08891084489487741),
 (3251, 0.08891084489487741),
 (3899, 0.08891084489487741),
 (4059, 0.08891084489487741),
 (4270, 0.08891084489487741),
 (4290, 0.08891084489487741),
 (4357, 0.08891084489487741),
 (183, 0.08869685939836239),
 (836, 0.08869685939836239),
 (969, 0.08869685939836239),
 (1009, 0.08869685939836239),
 (1401, 0.08869685939836239),
 (1458, 0.08869685939836239),
 (2359, 0.08869685939836239),
 (3308, 0.08869685939836239),
 (4179, 0.08869685939836239),
 (79, 0.0878561118986134),
 (2435, 0.0878561118986134),
 (2545, 0.0878561118986134),
 (3554, 0.0878561118986134),
 (486, 0.08749572785196141),
 (154, 0.08703882797784893),
 (245, 0.08703882797784893),
 (362, 0.08703882797784893),
 (1030, 0.08703882797784893),
 (1239, 0.08703882797784893),
 (1465, 0.08703882797784893),
 (1467, 0.08703882797784893),
 (1602, 0.08703882797784893),
 (1715, 0.08703882797784893),
 (2305, 0.08703882797784893),
 (2955, 0.08703882797784893),
 (3131, 0.08703882797784893),
 (3633, 0.08703882797784893),
 (3768, 0.08703882797784893),
 (3849, 0.08703882797784893),
 (4077, 0.08703882797784893),
 (4254, 0.08703882797784893),
 (4490, 0.08703882797784893),
 (491, 0.08703882797784891),
 (768, 0.08703882797784891),
 (2131, 0.08703882797784891),
 (3558, 0.08624393618641035),
 (3903, 0.08624393618641035),
 (48, 0.08547043234472845),
 (1200, 0.08547043234472845),
 (82, 0.08528028654224418),
 (196, 0.08528028654224418),

In [110]:
def recommed (movies):
    movies_index = new_df[new_df['title'] == movies].index[0]
    distance = similarity[movies_index]
    movies_list = sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [112]:
recommed('John Carter')

Krrish
Stripes
Get Carter
The Other Side of Heaven
Lawrence of Arabia

In [117]:
import pickle

In [119]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [121]:
pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb'))

In [123]:
pickle.dump(similarity,open('similarity.pkl','wb'))